svg.hide
  include svg

noscript.noscript Чтобы посмотреть сайт включите JavaScript на&nbsp;своём устройстве.

.headerWrapper 
  .headerBlock
    .headerBlock__brand
      img.brand(src="images/icon/logo.svg", alt="")
  
    //- nav.nav
    //-   .contLink 
        //- img.contLink__phoneIcon(src="images/icons/icon-phone2.svg", alt="")
        //- a.contLink__phone(href="#") +7 (904) 230-87-88

    .navMenu 
      ul.navMenu__list 
        li.navMenu__item 
          a.navMenu__link(href="#") Преимущества
        li.navMenu__item
          a.navMenu__link(href="#") Фасовка
        li.navMenu__item
          a.navMenu__link(href="#") Cотрудничество
        li.navMenu__item
          a.navMenu__link(href="#") Оплата и доставка
    
    .contLink 
      a.contLink__phone(href="tel:+79112282388") 8 (911) 228-23-88
    
    .headerButton
      a.headerButton__link(href="#") Заказать звонок

    #contain
      .bar1 
      .bar2 
      .bar3 

    ul#nav 
      li.mobileNav__item 
        a.mobileNav__link(href="#") Преимущества
      li.mobileNav__item
        a.mobileNav__link(href="#") Фасовка
      li.mobileNav__item
        a.mobileNav__link(href="#") Cотрудничество
      li.mobileNav__item
        a.mobileNav__link(href="#") Оплата и доставка