@font-face 
    font-family: "BebasNeueBold";
    src: url("../fonts/BebasNeueBold.woff") format("woff"),
        url("../fonts/BebasNeueBold.eot") format("embedded-opentype"),
        url("../fonts/BebasNeueBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;

@font-face 
    font-family: "BebasNeueRegular";
    src: url("../fonts/BebasNeueRegular.woff") format("woff"),
        url("../fonts/BebasNeueRegular.eot") format("embedded-opentype"),
        url("../fonts/BebasNeueRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;

@font-face 
    font-family: "NunitoSans-Light";
    src: url("../fonts/NunitoSans-Light.woff") format("woff"),
        url("../fonts/NunitoSans-Light.eot") format("embedded-opentype"),
        url("../fonts/NunitoSans-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;

@font-face 
    font-family: "NunitoSans-Regular";
    src: url("../fonts/NunitoSans-Regular.woff") format("woff"),
        url("../fonts/NunitoSans-Regular.eot") format("embedded-opentype"),
        url("../fonts/NunitoSans-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;

@font-face 
    font-family: "NunitoSans-SemiBold";
    src: url("../fonts/NunitoSans-SemiBold.woff") format("woff"),
        url("../fonts/NunitoSans-SemiBold.eot") format("embedded-opentype"),
        url("../fonts/NunitoSans-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;

@font-face 
    font-family: "NunitoSans-Bold";
    src: url("../fonts/NunitoSans-Bold.woff") format("woff"),
        url("../fonts/NunitoSans-Bold.eot") format("embedded-opentype"),
        url("../fonts/NunitoSans-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
