$black = #252525
$mainColor = #2DADFF
$ff = BebasNeueBold
$ff1 = BebasNeueRegular
$ff2 = NunitoSans-Light
$ff3 = NunitoSans-Regular
$ff4 = NunitoSans-SemiBold
$ff5 = NunitoSans-Bold
$background = rgba(255, 0, 0, .1)