.mainScreen 
    .mainScreen__wrapper
        .mainScreen__box
            .mainScreen__title Незамерзающая <br> жидкость
            .mainScreen__subtitle Качественный продукт. Надёжный поставщик
            .mainScreen__button.mainButton
                a(href="#").mainButton__link Оставить заявку

section.table
    .blockTable 
        .blockTable__title.titleRow ПЭТ-КАНИСТРА НАЛ

        .blockTable__wrapp
            table
                thead
                    tr 
                        th.th_style Доставка, шт      
                        th.th_style -15°C  
                        th.th_style -20°C   
                        th.th_style -25°C  
                        th.th_style -30°C 
                tbody 
                    tr 
                        td(data-label="Доставка, шт") от 32
                        td(data-label="-15°C ") 104 р.
                        td(data-label="-20°C ") 119 р.
                        td(data-label="-25°C ") 124 р.
                        td(data-label="-30°C ") 134 р.
                    tr 
                        td(data-label="Доставка, шт") от 50
                        td(data-label="-15°C ") 94 р.
                        td(data-label="-20°C ") 109 р.
                        td(data-label="-25°C ") 114 р.
                        td(data-label="-30°C ") 124 р.
                    tr 
                        td(data-label="Доставка, шт") от 100
                        td(data-label="-15°C ") 89 р.
                        td(data-label="-20°C ") 99 р.
                        td(data-label="-25°C ") 109 р.
                        td(data-label="-30°C ") 119 р.
                    tr 
                        td(data-label="Доставка, шт") от 200
                        td(data-label="-15°C ") 87 р.
                        td(data-label="-20°C ") 95 р.
                        td(data-label="-25°C ") 104 р.
                        td(data-label="-30°C ") 114 р.
                    tr 
                        td(data-label="Доставка, шт") от 300
                        td(data-label="-15°C ") 81 р.
                        td(data-label="-20°C ") 90 р.
                        td(data-label="-25°C ") 98 р.
                        td(data-label="-30°C ") 108 р.
                    tr 
                        td(data-label="Доставка, шт") от 500
                        td(data-label="-15°C ") 104 р.
                        td(data-label="-20°C ") 89 р.
                        td(data-label="-25°C ") 97 р.
                        td(data-label="-30°C ") 106 р.


    .blockTable 
        .blockTable__title.titleRow евроКАНИСТРА НАЛ

        .blockTable__wrapp
            table 
                thead
                    tr 
                        th.th_style Доставка, шт      
                        th.th_style Nord (Polar) Stream -25°C 5л
                        th.th_style Arctic Formula -30°C 5л
                tbody 
                    tr 
                        td(data-label="Доставка, шт") от 32
                        td(data-label="Nord (Polar) Stream -25°C 5л") 200 р.
                        td(data-label="Arctic Formula -30°C 5л") 200 р.
                    tr 
                        td(data-label="Доставка, шт") от 50
                        td(data-label="Nord (Polar) Stream -25°C 5л") 185 р.
                        td(data-label="Arctic Formula -30°C 5л") 195 р.
                    tr 
                        td(data-label="Доставка, шт") от 100
                        td(data-label="Nord (Polar) Stream -25°C 5л") 170 р.
                        td(data-label="Arctic Formula -30°C 5л") 180 р.
                    tr 
                        td(data-label="Доставка, шт") от 300
                        td(data-label="Nord (Polar) Stream -25°C 5л") 160 р.
                        td(data-label="Arctic Formula -30°C 5л") 170 р.
                    tr 
                        td(data-label="Доставка, шт") от 500
                        td(data-label="Nord (Polar) Stream -25°C 5л") 155 р.
                        td(data-label="Arctic Formula -30°C 5л") 160 р.

    .blockTable__button.mainButton
        a(href="#").mainButton__link Сделать заказ

    .blockTable 
        .blockTable__title.titleRow ПЭТ-КАНИСТРА безНАЛ

        .blockTable__wrapp
            table 
                thead
                    tr 
                        th.th_style Доставка, шт      
                        th.th_style -15°C  
                        th.th_style -20°C   
                        th.th_style -25°C  
                        th.th_style -30°C 
                tbody 
                    tr 
                        td(data-label="Доставка, шт") от 52
                        td(data-label="-15°C ") 110 р.
                        td(data-label="-20°C ") 125 р.
                        td(data-label="-25°C ") 135 р.
                        td(data-label="-30°C ") 145 р.
                    tr 
                        td(data-label="Доставка, шт") от 100
                        td(data-label="-15°C ") 105 р.
                        td(data-label="-20°C ") 115 р.
                        td(data-label="-25°C ") 130 р.
                        td(data-label="-30°C ") 140 р.
                    tr 
                        td(data-label="Доставка, шт") от 200
                        td(data-label="-15°C ") 100 р.
                        td(data-label="-20°C ") 115 р.
                        td(data-label="-25°C ") 125 р.
                        td(data-label="-30°C ") 135 р.
                    tr 
                        td(data-label="Доставка, шт") от 500
                        td(data-label="-15°C ") 95 р.
                        td(data-label="-20°C ") 110 р.
                        td(data-label="-25°C ") 120 р.
                        td(data-label="-30°C ") 130 р.
                    tr 
                        td(data-label="Доставка, шт") от 1000
                        td(data-label="-15°C ") 90 р.
                        td(data-label="-20°C ") 105 р.
                        td(data-label="-25°C ") 115 р.
                        td(data-label="-30°C ") 125 р.

        .blockTable__button.mainButton
            a(href="#").mainButton__link Сделать заказ

    .blockTable 
        .blockTable__title.titleRow евроКАНИСТРА безНАЛ

        .blockTable__wrapp
            table 
                thead
                    tr 
                        th.th_style Доставка, шт      
                        th.th_style Nord (Polar) Stream -25°C 5л
                        th.th_style Arctic Formula -30°C 5л
                tbody 
                    tr 
                        td(data-label="Доставка, шт") от 32
                        td(data-label="Nord (Polar) Stream -25°C 5л") 215 р.
                        td(data-label="Arctic Formula -30°C 5л") 225 р.
                    tr 
                        td(data-label="Доставка, шт") от 52
                        td(data-label="Nord (Polar) Stream -25°C 5л") 205 р.
                        td(data-label="Arctic Formula -30°C 5л") 215 р.
                    tr 
                        td(data-label="Доставка, шт") от 100
                        td(data-label="Nord (Polar) Stream -25°C 5л") от 100
                        td(data-label="Arctic Formula -30°C 5л") 195 р.
                    tr 
                        td(data-label="Доставка, шт") от 200
                        td(data-label="Nord (Polar) Stream -25°C 5л") 190 р.
                        td(data-label="Arctic Formula -30°C 5л") 200 р.
                    tr 
                        td(data-label="Доставка, шт") от 500
                        td(data-label="Nord (Polar) Stream -25°C 5л") 185 р.
                        td(data-label="Arctic Formula -30°C 5л") 195 р.
                    tr 
                        td(data-label="Доставка, шт") от 1000
                        td(data-label="Nord (Polar) Stream -25°C 5л") 180 р.
                        td(data-label="Arctic Formula -30°C 5л") 190 р.

    .blockTable__button.mainButton
        a(href="#").mainButton__link Сделать заказ

.backgroundStyle 
    .blockPage
        .blockPage__title Преимущества магазина
        .blockPage__advant.advantages
            .advantages__row 
                .advantages__pic 
                    img(src="images/img1.jpg", alt="")
            .advantages__row 
                .advantages__list 
                    .advantages__item
                        .advantages__icon 
                            img(src="images/icon/advant1.svg", alt="")
                        .advantages__textBlock
                            .advantages__title Надёжность и бонусы
                            .advantages__text Мы успешно работаем на рынке с 2007 года <br> и предоставляем постоянным клиентам скидки
                            
                    .advantages__item
                        .advantages__icon 
                            img(src="images/icon/advant2.svg", alt="")
                        .advantages__textBlock
                            .advantages__title Доставка за 1 день
                            .advantages__text Собственный автопарк и логистический центр <br> позволили нам сократить время доставки до 1 дня

                    .advantages__item
                        .advantages__icon 
                            img(src="images/icon/advant3.svg", alt="")
                        .advantages__textBlock
                            .advantages__title Отлаженный документооборот
                            .advantages__text Мы предоставляем все необходимые закрывающие <br> документы по отгруженным товарам

                    .advantages__item
                        .advantages__icon 
                            img(src="images/icon/advant4.svg", alt="")
                        .advantages__textBlock
                            .advantages__title Гарантия качества
                            .advantages__text Мы работаем осуществляем гарантийный возврат <br> продукции в течение 14 дней
    
    .blockPage
        .blockPage__title лучшие производители
        .blockPage__wrapp.bestProducer
            .bestProducer__box
                .bestProducer__row 
                    .bestProducer__pic 
                        img(src="images/kanistra.png", alt="")
                .bestProducer__row 
                    .bestProducer__item 
                        .bestProducer__title Удобная канистра
                        .bestProducer__text Эргономичная ручка выделяет упаковку нашей незамерзайки на полках
                    .bestProducer__item 
                        .bestProducer__title 5 честных литров внутри
                        .bestProducer__text Мы контролируем заправочный объем - будьте уверены
                    .bestProducer__item 
                        .bestProducer__title Безопасно для здоровья
                        .bestProducer__text Продукт имеет все соответствующие сертификаты
                    .bestProducer__item 
                        .bestProducer__title Рабочая температура до -30 градусов
                        .bestProducer__text Специальная формула, разработанная специально для российских условий
                
            .bestProducer__button.buttonSlide 
                .buttonSlide__box 
                    .buttonSlide__arrowPrev.activeButton
                        img(src="images/icon/prev.svg", alt="")
                    .buttonSlide__arrowNext
                        img(src="images/icon/next.svg", alt="")
.blockDesc
    .blockDesc__row
        .blockDesc__col
            .blockDesc__title Прибыльность нашего продукта
            .blockDesc__text Рентабельность партии нашей незамерзайки при продаже в розницу составляет более 60%. Пример: при заказе 100 канистр по цене 100 рублей за штуку (10000 рублей за партию), справедливая розничная цена составит 200 рублей за банку. 
            .blockDesc__text В зимне-осенний сезон средняя точка продаж распродает такую партию за 2-4 часа. Прибыль с партии в 100 банок составит 10000 рублей.
            .mainButton
                a(href="#").mainButton__link Оставить заявку
                

.blockPage
    .blockPage__title.blockPage__title-center Схема сотрудничества

//- .shema 
//-     .shema__row 
//-         .shema__col.shemaList 
//-             .shemaList__box.shemaList__box-first
//-                 .shemaList__item 
//-                     .shemaList__title Заявка
//-                     .shemaList__text Вы подаете заявку и наш менеджер связывается с Вами в течение часа.
//-                 .shemaList__item 
//-                     .shemaList__title Составление заказа
//-                     .shemaList__text На основе Ваших пожеланий наши менеджеры составят заказ на незамерзайку.
//-             .shemaList__box.shemaList__box-second
//-                 .shemaList__item 
//-                     .shemaList__title Способ оплаты
//-                     .shemaList__text Вы сможете оплатить заказ любым удобным способом.
//-             .shemaList__box.shemaList__box-third
//-                 .shemaList__item 
//-                     .shemaList__title Доставка
//-                     .shemaList__text В течение 1 дня мы доставим Вашу партию  незамерзайки.
//-                 .shemaList__item 
//-                     .shemaList__title Сбор заказа
//-                     .shemaList__text В логистическом центре мы подготовим Ваш заказ к отгрузке.
//-             .shemaList__box
//-                 .shemaList__item 
//-                     .shemaList__title Документы
//-                     .shemaList__text Мы отправим Вам все сопроводительные документы для Вашей бухгалтерии.
//-                 .shemaList__item 
//-                     .shemaList__title Старт продаж
//-                     .shemaList__text Вы готовы начать зарабатывать с нашей незамерзайкой!

.blockDelivery
    .blockDelivery__row
        .blockDelivery__pic
            img(src="images/kanistra2.png", alt="")
    .blockDelivery__row
        .blockDelivery__col
            .blockDelivery__title Что Вам нужно знать о доставке:
            .blockDelivery__text 
                pre Собственный автопарк позволяет нам доставлять незамерзайку нашим клиентам в течение 1 дня
                pre Доставка в Санкт-Петербурге в пределах КАД бесплатная.
            .blockDelivery__text 
                pre Мы гарантируем сохранность поставляемой незамерзайки благодаря сертификации всех водителей по внутренним требованиям к аккуратному вождению
            .mainButton
                a(href="#").mainButton__link Оставить заявку

.blockPage
    .blockPage__title.blockPage__title-center наши сертификаты

    .certificates 
        .certificates__list 
            img(src="images/sertificat1.jpg", alt="")
            img(src="images/sertificat2.jpg", alt="")

.formWrapper.contForm 
    .contForm__title Есть вопросы? Оставьте заявку!
    form(action="").formBlock 
        input.formBlock__tel(type="tel" placeholder="+7 (900) 999-99-99")
        input(type="submit" value="Отправить")

footer.footer 
    .footer__row 
        .footer__col 
            a.footer__link(href="tel:+79112282388") 8 (911) 228-23-88
            a.footer__email(href="mailto:eregin_alexey@mail.ru") eregin_alexey@mail.ru
            .footer__address Санкт-Петербург Кржижановского 18 лит.Г
            .footer__doc ИНН 7810876046, ОГРН 1127847367636 | 196105
        .footer__col
             a.footer__link(href="#") Политика конфиденциальности
             .footer__logoCompany 
                p Разработано arkada-web.ru
                img(src="img/icons/logoArkada.svg", alt="")
    .footer__row 
        .copiright © ООО “Зедан”, Все права защищены








